.People {
    font-size: 1.2rem;
    margin: 5rem 0;
    select {
        margin-left: 1rem;
        padding: .5rem;
        font-size: 1rem;
        border-radius: .5rem;
        text-align: center;

    &:hover {
        border-color: hotpink;
      }

    }
}

.card {
  background-color: hotpink;
  max-width: 18rem;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  margin: 2rem 0;
}